

body{
  background-color: rgba(0,0,0,.25);
    flex-direction: row;
    justify-content: center;
    align-items: center;
      font-family: 'MyWebFont', Fallback, sans-serif;
}
iframe{
  padding:1px 1px 1px 80px;
}
form{
  padding: 30px 30px 30px 30px;
  font size: 16px;
}
.layer {
    background-color: rgba(248, 247, 216, .06);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

img{
  width: 400px;
  height:700px;
  display: flex;
  flex-direction: column;
  flex: center;
}

.posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*border: solid 2px orange;*/
  margin: 2px;
  padding: 2px;
  background-color: rgba(0,0,0,1);
  color:white;
    /*border: 1px solid blue;*/
}

article{
  padding: 2rem 2rem 2rem 2rem;
  line-height: 20px;
  text-align: center;
  background-color: rgba(0,0,0,1);
  color:white;
}

@font-face {
  font-family: 'MyWebFont';
  src: /*url('webfont.eot')  IE9 Compat Modes
  src: url('webfont.eot?#iefix') format('embedded-opentype'),  IE6-IE8
       url('webfont.woff2') format('woff2'),  Super Modern Browsers
       url('webfont.woff') format('woff'),  Pretty Modern Browsers*/
       url('ElementalEnd.ttf')  format('truetype'); /*,  Safari, Android, iOS
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS */
}

header{
  /*border-bottom: 2px solid rgba(60,60,255,1);*/
  /*background-color: rgba(60,150,255,.6);*/
  font-weight: 900;
  background: url('header.jpg');
  height:100px;
  width: 300px;
  background-size: 100% 100%;
  font-family: 'MyWebFont', Fallback, sans-serif;
  max-height: 500px;
  background-repeat: no-repeat;
}

.banner{
  font-weight: 900;
  background-size: 100%;
  font-family: 'MyWebFont', Fallback, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(255,255,255,.5);

  position: fixed;
   top: 0;
   left: 0;
   bottom: 0;


  /*border: 1px solid blue;*
}

.title{
  padding: 1%;
  margin-left: 3%;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  text-shadow:
  -1px -1px 0 #E0FFFF,
  1px -1px 0 #E0FFFF,
  -1px 1px 0 #E0FFFF,
  1px 1px 0 #E0FFFF;
  /*border: 2px solid green;*/
}

.slogan{
  font-size: 20px;
text-shadow:
-1px -1px 0 #E0FFFF,
1px -1px 0 #E0FFFF,
-1px 1px 0 #E0FFFF,
1px 1px 0 #E0FFFF;
  padding: 0% 0% 0% 20%;
  color: rgb(0,0,0);
  font-weight: 600;
    /*border-bottom: 2px solid rgba(60,60,255,1);*/
    width: 100%;
}

input{
  color: black;
  font-family:sans-serif;
  text-shadow:
  -1px -1px 0 #E0FFFF,
  1px -1px 0 #E0FFFF,
  -1px 1px 0 #E0FFFF,
  1px 1px 0 #E0FFFF;
  font-size:2.2em;
  width: 70%;
}
input[type=checkbox]
{
  -webkit-appearance:checkbox;
}
input[type="submit"]:hover {
    border: 10px solid #999;
    color: #E0FFFF;
}

.checked{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.verify{
  background-color: rgb(0,0,0,.7);
  padding: 0px 0px 0px 40px};
}

.socialmedia{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
}

a:hover{
  background-color: rgba(50,50,50,.5);
}

a{
  padding: 100px;
}













.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(255,255,255,.5);
  /*border: 1px solid blue;*/
}
.buttons{
  padding: 0px 10px 2px 10px;
  margin: 1% 3%;
  /*border: solid 2px black;*/
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 20rem;
  font-size: 13px;
  height: 80%;

}
.buttons:hover{
  background-color: rgba(255,255,255,1);
}
.sidebar{
display: flex;
flex-direction: column;
height: 70%;
text-align: center;
align-items: center;
justify-content: center;
width: 30%;
padding: 2rem .5rem 10rem .5rem;
font-weight: 600;
/*border: solid red 5px;*/
}

.fb-like{
  color:white;
}

.sidebar:link{
color: orange;
}
.link {
  color: darkorange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.link2{
  color: darkorange;
  font-weight: 600;
}

.link2:hover{
  color:rgba(0,150,255,1);
  font-size: 110%;
}

.images{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
img{
  padding: 20px 0px;
}

d{
  font-weight: 900;
}
b{
  font-weight: 900;
}
i{
  font-style: italic;
}
h{
  margin: 50px 0px 0px 50px;
}

svg{
  color:rgba(255,106,0,1);
  height:30px;
  width: 30px;
}
svg:hover{
  color:rgba(255,255,255,1);
  cursor: crosshair;
  height:40px;
  width: 40px;
}
.link:hover{
  color:rgba(255,255,255,1);
  cursor: crosshair;
  font-size: 110%;
}


h {
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  margin-left: 0px;
}

table{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
td,th{
  padding: 3px;
  border: .5px solid black;
}

#spec{
  background-color: yellow;
}
