

body{
  background-color: rgba(0,0,0,.2);
    flex-direction: row;
    justify-content: center;
    align-items: center;
      font-family: 'MyWebFont', Fallback, sans-serif;
}
iframe{
  padding:1px 1px 1px 80px;
  height: 200px;
  width:300px;
}
form{
  padding: 30px 30px 30px 30px;
  font size: 16px;
}
.layer {
    background-color: rgba(248, 247, 216, .06);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.tester{
  height:200px;
  width:200px;

}
img{
  width: 1000px;
  height:700px;
  display: flex;
  flex-direction: column;
  flex: center;
}

.posts{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 100%;*/
  /*border: solid 2px orange;*/
  color:white;
    /*border: 1px solid blue;*/
}


@font-face {
  font-family: 'MyWebFont';
  src: /*url('webfont.eot')  IE9 Compat Modes
  src: url('webfont.eot?#iefix') format('embedded-opentype'),  IE6-IE8
       url('webfont.woff2') format('woff2'),  Super Modern Browsers
       url('webfont.woff') format('woff'),  Pretty Modern Browsers*/
       url('ElementalEnd.ttf')  format('truetype'); /*,  Safari, Android, iOS
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS */
}

header{
  /*border-bottom: 2px solid rgba(60,60,255,1);*/
  /*background-color: rgba(60,150,255,.6);*/
  background: url('header.jpg');
  background-color: black;
  background-position: 50%;
  height:1080px;
  width: 100%;
  font-family: 'MyWebFont', Fallback, sans-serif;
  max-height: 500px;
  background-repeat: no-repeat;
}

.banner{
  font-weight: 900;
  background-size: 100%;
  font-family: 'MyWebFont', Fallback, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(255,255,255,.5);

  position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
     background-image: url("/pics/banner-flames.png");


  /*border: 1px solid blue;*
}

.title{
  padding: 1%;
  margin-left: 3%;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  text-shadow:
  -1px -1px 0 #E0FFFF,
  1px -1px 0 #E0FFFF,
  -1px 1px 0 #E0FFFF,
  1px 1px 0 #E0FFFF;
  /*border: 2px solid green;*/
}

.slogan{
  font-size: 20px;
text-shadow:
-1px -1px 0 #E0FFFF,
1px -1px 0 #E0FFFF,
-1px 1px 0 #E0FFFF,
1px 1px 0 #E0FFFF;
  padding: 0% 0% 0% 20%;
  color: rgb(0,0,0);
  font-weight: 600;
    /*border-bottom: 2px solid rgba(60,60,255,1);*/
    width: 100%;
}

input{
  color: black;
  font-family:sans-serif;
  text-shadow:
  -1px -1px 0 #E0FFFF,
  1px -1px 0 #E0FFFF,
  -1px 1px 0 #E0FFFF,
  1px 1px 0 #E0FFFF;
  font-size:2.2em;
  width: 70%;
}
input[type=checkbox]
{
  -webkit-appearance:checkbox;
}
input[type="submit"]:hover {
    border: 10px solid #999;
    color: #E0FFFF;
}

.checked{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.verify{
  background-color: rgb(0,0,0,.7);
  padding: 0px 0px 0px 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socialmedia{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  font-size: 20px;
}

a:hover{
  background-color: rgba(255,255,255,1);
}

.tourney:hover{
    background-color: rgba(255,255,255,1);
}

a{
  padding: 0px;
}

.buttons{
  padding: 0px 10px 0px 10px;
  margin: 1% 1%;
  /*border: solid 2px black;*/
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 20rem;
  font-size: 13px;
  height: 80%;

}
.buttons:hover{
  background-color: rgba(255,255,255,1);
}


.sidebar{
display: flex;
flex-direction: column;
height: 70%;
text-align: center;
align-items: center;
justify-content: center;
width: 30%;
padding: 2rem .5rem 10rem .5rem;
font-weight: 600;
/*border: solid red 5px;*/
}

img{
  padding: 10px 10px;
}

svg{
  color:rgba(255,106,0,1);
  height: 250px;
  width: 250px;
}
svg:hover{
  color:rgba(255,255,255,1);

}
