<!doctype html>
<html>

<head>
<!-- <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> -->
<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

<!--- javascript -->
<script type="text/javascript">
  $(document).ready(function(){
    $('#sortable').dataTable({
        'iDisplayLength': 100
    })})
</script>


<head>

<header>
  <div class="banner">
    <a href="/" class="buttons"> Home </a>
    <a href="https://www.instagram.com/rapidfire.gg" class="buttons" target="_blank"> Instagram </a>
    <a href="https://www.paypal.me/embulldogs99" class="buttons" target="_blank"> donate </a>
    <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons" target="_blank"> email us </a>
    <a href="https://www.facebook.com/RapidFireSupport/" class="buttons" target="_blank"> Support </a>
    <a href="/signup" class="buttons"> sign up </a>
    <a href="/login" class="buttons"> login </a>
  </div>
</header>


<body>
<br><br><br><br>
  <div class="posts">
    {{range .}}
    {{.Tournament}}&emsp;Scoreboard<br><br>
    {{end}}
  <table id="sortable">
    <thead>
      <tr>
        <th>Tournamnet</th>
        <th>Round</th>
        <th>Gametype</th>
        <th>Wins</th>
        <th>Kills</th>
        <th>Teamname</th>
        <th>Status</th>
        <th>Gamertag</th>
        <th>Start Time</th>
      </tr>
    </thead>
    </tbody>
      <tr>
        {{range .}}
        <td>{{.Tournament}}</td>
        <td>{{.Roundnum}}</td>
        <td>{{.Gametype}}</td>
        <td>{{.Wins}}</td>
        <td>{{.Kills}}</td>
        <td>{{.Teamname}}</td>
        <td>{{.Status}}</td>
        <td>{{.Gamertag}}</td>
        <td>{{.Starttime}}</td>

      </tr>
    </tbody>
  </table>
  {{end}}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</body>
</html>
