<!DOCTYPE html>
  	<!--[if IE 8]>
  		<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
  	<![endif]-->
  	<!--[if !(IE 8) ]><!-->
  		<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  	<!--<![endif]-->
  	<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<title>Log In &lsaquo; RapidFire.GG &#8212; WordPress</title>
  	<link rel='dns-prefetch' href='//s.w.org' />
  <link rel='stylesheet' href='http://www.thewulfmarket.com/wp-admin/load-styles.php?c=0&amp;dir=ltr&amp;load%5B%5D=dashicons,buttons,forms,l10n,login&amp;ver=4.9.6' type='text/css' media='all' />
    <style media="screen">
      /*************************************************************
       * Plugin:      LoginPress - Customizing the WordPress Login.*
       * Description: LoginPress is the best Login Page Customizer *
       *              in WordPress which allows you to completely  *
       *              change the layout of login, register and     *
       *              forgot password forms.                       *
       * Author:      WPBrigade                                    *
       * visit:       https://wordpress.org/plugins/loginpress/    *
       *************************************************************/
      body.login {
        background-image: url(http://www.thewulfmarket.com/wp-content/plugins/loginpress/img/bg.jpg);
        /*background-color: #ddd5c3;*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      	display: table;
      	min-height: 100vh;
      	width: 100%;
      	padding: 0;
      }
      .header-wrapper{
      	display: table-row;
      }
      #login{
      	margin-top: 2%;
      	background: #fff;
      	position: relative;
      	-webkit-border-radius: 5px;
      	-moz-border-radius: 5px;
      	-ms-border-radius: 5px;
      	-o-border-radius: 5px;
      	border-radius: 5px;
      	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.8);
      	box-shadow: 0 0 15px rgba(0,0,0,.8);
        max-width: 350px;
      	padding: 26px 26px 6px 26px;
      	width: 100%;
      }
      .login form {
      	margin-top: 20px;
      	margin-left: 0;
      	padding: 0 24px 12px;
      	background: #fff;
      	-webkit-box-shadow: none;
      	box-shadow: none;
      }
      .login form .input, .login input[type="text"]{
      	height: 48px;
      	background: #fff;
      	-webkit-border-radius: 5px;
      	-moz-border-radius: 5px;
      	-ms-border-radius: 5px;
      	border-radius: 5px;
      	margin-bottom: 18px;
      	font: normal 15px "Roboto", sans-serif;
      	color: #7f7f7f;
      	border-color: #bdbdbd;
      	padding-left: 27px;
      	font-weight: normal;
      }
      .login input[type="submit"] {
      	background: #fff;
      	color: #fff;
      	margin: 7px 0 7px;
      	height: 46px;
      	-webkit-border-radius: 5px;
      	-moz-border-radius: 5px;
      	-ms-border-radius: 5px;
      	border-radius: 5px;
      	font: normal 15px "Roboto", sans-serif;
      	color: #fff;
      	width: 100%;
      }
      .wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large{
      	height: 46px;
      	line-height: 0;
      	background: #008ec2;
      }
      .login #nav {
      	text-align: center;
      }
      #login_error { display:block; }
      /*.message { display:none; }*/
      /*.custom-message {
      	-moz-border-radius:3px 3px 3px 3px;
      	border-style:solid;
      	border-width:1px;
      	margin:0 0 16px 8px;
      	padding:12px;
      }*/

      #backtoblog{
      	text-align: center;
      }
      .header-cell{
      	display: table-cell;
      	height: 100px;
      }
      .loginHeaderMenu{
      	text-align: center;
      	position: relative;
      	z-index: 10;
      	list-style: none;
      	background: #333;

      }
      .loginHeaderMenu>ul>li{
      	display: inline-block;
      	vertical-align: top;
      	position: relative;
      	list-style: none;
      }
      .loginHeaderMenu>ul>li>a{
      	color: #fff;
      	text-transform: uppercase;
      	text-decoration: none;
      	font-size: 16px;
      	padding: 17px 20px;
      	display: inline-block;
      }
      .loginHeaderMenu>ul>li:hover>a{
      	background: #4CAF50;
      	color: #fff;
      }
      .loginHeaderMenu>ul>li>ul{
      	position: absolute;
      	width: 200px;
      	padding: 0;
      	top: 100%;
      	left: 0;
      	background: #fff;
      	list-style: none;
      	text-align: left;
      	border-radius: 0 0 5px 5px;
      	-webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.31);
      	-moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.31);
      	box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.31);
      	overflow: hidden;
      	opacity: 0;
      	visibility: hidden;
      }
      .loginHeaderMenu>ul>li:hover>ul{
      	opacity: 1;
      	visibility: visible;
      }
      .loginHeaderMenu>ul>li>ul>li{
      	font-size: 15px;
      	color: #333;
      }
      .loginHeaderMenu>ul>li>ul>li>a{
      	color: #333;
      	padding: 10px;
      	display: block;
      	text-decoration: none;
      }
      .loginHeaderMenu>ul>li>ul>li>a:hover {
      	background: rgba(51, 51, 51, 0.35);
      	color: #fff;
      }
      .login-wrapper{
      	display: table-row;
      }
      .login-cell{
      	display: table-cell;
      	vertical-align: middle;
      }
      .clear{
      	display: none;
      }
      .footer-wrapper{
      	display: table-footer-group;
      }
      .footer-cont{

      	right: 0;
      	bottom: 0;
      	left: 0;
      	text-align: center;
      	display: table-cell;
      	vertical-align: bottom;
      	height: 100px;
      }
      .loginFooterMenu{
      	text-align: center;
      	background-color: rgba(0,0,0,.7);
      }
      .loginFooterMenu>ul{
      	display: inline-flex;
      }

      .loginFooterMenu>ul>li{
      	display: inline-block;
      	padding: 18px;
      }
      .loginFooterMenu>ul>li:focus{
      	outline: none;
      	border: 0;
      }
      .loginFooterMenu>ul>li>a:focus{
      	outline: none;
      	border: 0;
      }
      .loginFooterMenu>ul>li>a{
      	color: #fff;
      	text-transform: uppercase;
      	text-decoration: none;
      	font-size: 14px;
      }
      .loginHead {
      	width:100%;
      	text-align: center;
      	margin-top: 0;
      	margin-bottom: 20px;
      	padding: 13px 0 0;
      	position: relative;
      	margin: 0;
      }
      .loginHead p a {
    	  text-decoration: none;
      }
      .loginFooter {
      	display: table-footer-group;
      }
      .loginFooter p a {
      	display: inline-block;
      	margin: 0 5px;
      }
      .loginInner {
      	margin: 0 auto;
      	text-align: center;
      	margin-top: 20px;
      	margin-bottom: 0;
      	padding: 13px 0;
      	position: relative;
      }
      .copyRight{
      	text-align: center;
      	padding: 12px;
      	background-color: #efefef;
      }
      .loginpress-show-love{
        color: #222;
      }
      .loginpress-show-love a{
        color: #263466;
      }
      .loginpress-show-love a:hover{
        color: #4d5d95;
      }
      @media screen and (max-width: 767px) {
          #login{
              width: 300px;
          }
          .login form{
              padding-right: 0;
              padding-left: 0;
          }
          .login .loginpress-show-love{
              position: static;
              text-align: center;
              float: none;
              background: rgba(255,255,255, .5);
              margin-top: 11px;
              padding-bottom: 0;
              padding: 3px;
          }
      }

      </style>

    <style type="text/css">
  *{
  	box-sizing: border-box;
  }
  #login::after{
      }

  #login{

    			background-color: #ffffff;
  			border-radius: 91px;
  			box-shadow: 0 0 19px rgba( 0,0,0,1 );	}
  body.login:after{

    }
  body.login {


  		background-image: url(http://www.thewulfmarket.com/wp-content/uploads/2018/06/BGrfgg.jpg);

  					background-size: cover;
  	  position: relative;
  }
  .login h1{
  	}
  .interim-login.login h1 a{
    	width: 84px;
  	}

  .login h1 a {
  		background-image: url( http://www.thewulfmarket.com/wp-content/uploads/2018/06/Rapidfirefistjpg.jpg )  !important;
  						background-size: cover;


  }

  .wp-core-ui #login  .button-primary{
  				}

  .wp-core-ui #login  .button-primary:hover{
  		}
  .wp-core-ui #login .button-primary{

  	box-shadow: 0 0 0px rgba( 0,0,0,0.8 );  /* box-shadow: none; */
  	height: auto;
  	line-height: 20px;
  	padding: 13px;
  		}
  #loginform {

  			background-image: url(http://www.thewulfmarket.com/wp-content/uploads/2018/06/fire-2.png);
  			background-color: #ffffff;
  			min-height: 78px;
  			}

  #loginform input[type="text"], #loginform input[type="password"]{

  box-shadow: 0 0 0px rgba( 0,0,0,0.8 );}

  #registerform input[type="text"], #registerform input[type="password"], #registerform input[type="number"], #registerform input[type="email"] {
  		box-shadow: 0 0 0px rgba( 0,0,0,0.8 );}

  #lostpasswordform input[type="text"]{
  		box-shadow: 0 0 0px rgba( 0,0,0,0.8 );}

  #login {
  		max-width: 413px;
  	}

  .login label[for="rememberme"] {
  		color: #000000;
  	}

  .login label {
  			color: #000000;
  	}

  .login form .input, .login input[type="text"] {
  		width: 100%;
  				}

  #lostpasswordform {
  		  		background-color: #ffffff;
  		}

  #registerform {
    		background-color: #ffffff;
  		}


  .login .custom-message {

      border-left: 4px solid #00a0d2;

  	  background-color: #fff;

    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  }

  .login #nav {
  		}

  .login #nav a, .login #nav{

  }

  .login form .forgetmenot label{
  	}

  .login input[type="submit"]{
  			}

  .login #nav a:hover{
  	}

  .login #backtoblog{
  	}

  .login #backtoblog a{
  				}

  .login #backtoblog a:hover{
  	}

  .loginHead {
  	}

  .loginHead p a {
  		}

  .loginHead p a:hover {
  	}

  .loginFooter p a {
  	margin: 0 5px;
  		}

  .loginFooter p a:hover {
  		}

  .loginInner {
  	}


  .wp-core-ui .button-primary{
  text-shadow: none;
  }

  /*input:-webkit-autofill{
    transition: all 100000s ease-in-out 0s !important;
    transition-property: background-color, color !important;
  }*/
  .copyRight{
  	padding: 12px 170px;
  }
  .loginpress-show-love{
    float: right;
    font-style: italic;
    padding-right: 20px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 3px;
    right: 0;
    z-index: 10;
  }
  .loginpress-show-love a{
    text-decoration: none;
  }
  .love-postion{
  	left: 0;
  	padding-left: 20px;
  }
  @media screen and (max-width: 767px) {
  		.login h1 a {
  				max-width: 100%;
  				background-size: contain !important;
  		}
      .copyRight{
      	padding: 12px;
      }
  }

  </style>


  <meta name='robots' content='noindex,follow' />
  	<meta name="viewport" content="width=device-width" />
  	<link rel="icon" href="http://www.thewulfmarket.com/wp-content/uploads/2018/06/cropped-Rapidfirefistjpg-32x32.jpg" sizes="32x32" />
  <link rel="icon" href="http://www.thewulfmarket.com/wp-content/uploads/2018/06/cropped-Rapidfirefistjpg-192x192.jpg" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="http://www.thewulfmarket.com/wp-content/uploads/2018/06/cropped-Rapidfirefistjpg-180x180.jpg" />
  <meta name="msapplication-TileImage" content="http://www.thewulfmarket.com/wp-content/uploads/2018/06/cropped-Rapidfirefistjpg-270x270.jpg" />
  	</head>
  	<body class="login login-action-login wp-core-ui  locale-en-us">
  		<div id="login">
  		<h1><a href="http://www.thewulfmarket.com" title="http://www.thewulfmarket.com" tabindex="-1">http://www.thewulfmarket.com</a></h1>




  <form name="loginform" id="loginform" action="/login" method="post">
  	<p>
  		<label for="user_login">Email Address<br />
  		<input type="text" name="email" id="user_login" class="input" value="" size="20" /></label>
  	</p>
  	<p>
  		<label for="user_pass">Password<br />
  		<input type="password" name="pass" id="user_pass" class="input" value="" size="20" /></label>
  	</p>
  		<p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"  /> Remember Me</label></p>
  	<p class="submit">
  		<input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Log In" />
  		<input type="hidden" name="redirect_to" value="http://www.thewulfmarket.com/" />
  		<input type="hidden" name="testcookie" value="1" />
  	</p>
  </form>

  <p id="nav">
  <a href="/signup">Register</a>
  </p>

  <script type="text/javascript">
  function wp_attempt_focus(){
  setTimeout( function(){ try{
  d = document.getElementById('user_login');
  d.focus();
  d.select();
  } catch(e){}
  }, 200);
  }

  wp_attempt_focus();
  if(typeof wpOnload=='function')wpOnload();
  </script>

  	<p id="backtoblog"><a href="/home">&larr; Back to RapidFire.GG</a></p>
  	<div class="privacy-policy-page-link"><a class="privacy-policy-link" href="http://www.thewulfmarket.com/privacy-policy/">Privacy Policy</a></div>
  	</div>


  	<div class="loginpress-show-love">Powered by: <a href="https://wpbrigade.com" target="_blank">LoginPress</a></div><div class="footer-wrapper"><div class="footer-cont"></div></div><link rel='stylesheet' id='jetpack_css-css'  href='http://www.thewulfmarket.com/wp-content/plugins/jetpack/css/jetpack.css?ver=6.2.1' type='text/css' media='all' />
  <script type='text/javascript' src='http://www.thewulfmarket.com/wp-admin/load-scripts.php?c=0&amp;load%5B%5D=jquery-core,jquery-migrate&amp;ver=4.9.6'></script>
  	<div class="clear"></div>
  	</body>
  	</html>
