<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">


<html>


<header>
<div class="layer">

  <div class="button">
    <a href="/" class="buttons"> Home </a>
    <a href="https://www.instagram.com/rapidfire.gg" class="buttons"> Instagram </a>
    <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
    <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons"> Email Us </a>
    <a href="https://www.facebook.com/RapidFireSupport/" class="buttons"> Support </a>
  </div>
</div>
</header>

<body>

<div class="posts">
  <br><br>
  |Rapidfire.GG is the #1 Official |Fortnite Tournament Site in America.
  <br><br>
  Spin the Tournament Wheel for |Entry into our |Free Weekly
</div>

<a href="/verify">
<div class="posts">
  <img src="/pics/firstfreetourney.jpg" border="40" flex-direction="center"/>
</div>
</a>


<div class="posts">
  <br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

</body>
</html>
