<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">


<html>

<header>



  <div class="title"> RapidfireGG</div>
  <div class="slogan">The Latest and GGreatest in GGaming</div>


  <div class="button">
    <a href="/" class="buttons"> Home </a>
    <a href="https://www.instagram.com/rapidfire.gg" class="buttons"> Watch Dank Clips on Instagram! </a>
    <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
    <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons"> Email Us </a>
  </div>

</header>

<body>
<br>
<div class="posts" font-size="25" padding="10,10,10,10">The Official Home of Fortnite Tournaments</div>
<div class="posts" flex-direction="row" align-items="center">
<img src="/pics/firstfreetourney.jpg" border="20" flex-direction="center"/>
</div>
</body>

</html>
