<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

<link href="css/mcleod-reset.css" rel="stylesheet">


<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>
<div class="layer">


<header>

  <div class="banner">
    <a href="/" class="buttons"> Home </a>
    <a href="https://www.instagram.com/rapidfire.gg" class="buttons" target="_blank"> Instagram </a>
    <a href="https://www.paypal.me/embulldogs99" class="buttons" target="_blank"> donate </a>
    <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons" target="_blank"> email Us </a>
    <a href="https://www.facebook.com/RapidFireSupport/" class="buttons" target="_blank"> Support </a>
    <a href="/login" class="buttons" target="_blank"> Sign In </a>

  </div>
<br><br>
</header>


<body>

<div class="posts">
  <br><br>
  rapidfire.GG is the #1 Official fortnite Tournament community in America.
  <br><br>
  spin the Tournament Wheel for entry into our free Weekly
  <br><br><br>
</div>

<a href="/verify">
<div class="posts">
  <img class="tourney" src="/pics/firstfreetourney.jpg" border="40" flex-direction="center"/>
</div>
</a>


<div class="posts">
  <br><br><br>
  <a href="/verify"><img src="/pics/membercall.jpg" style="height:400px;width:300px;"/></a>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

</body>

</div>
</html>
