<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>
<head>

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

  <!--- javascript -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('#sortable').dataTable();
    })
  </script>
</head>


<div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="https://www.instagram.com/rapidfire.gg" class="buttons" target="_blank"> Instagram </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons" target="_blank"> donate </a>
      <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons" target="_blank"> email Us </a>
      <a href="https://www.facebook.com/RapidFireSupport/" class="buttons" target="_blank"> Support </a>
      <a href="/profile" class="buttons"> my profile </a>
      <a href="/logout" class="buttons"> logout </a>
</div>


<body>

<div class="posts">
<br><br><br><br><br><br><br><br>

  hello {{.Email}}!<br><br><br><br>
  firecredits: <font size="20">{{.Credits}}</font><br><br><br><br>
    personal Stats:<br><br>
    wins:{{.Wins}}<br><br>
    losses:{{.Losses}}<br><br>
    heat:{{.Heat}}<br><br>
    grade:{{.Grade}}<br><br>

<br><br><br>

Tournaments:<br><br>
here is your exclusive tournamental registration link:<br><br>
<a  href="/tsignup"><font style="border:4 px solid white;" size="30">Toornaments</font></a>
<br><br>
Upcoming Tournaments:<br><br>
  <table id="sortable">
    <tr>
      <thead>
        <th>tournament</th>
        <th>type</th>
        <th>gamertag</th>
        <th>round number</th>
      </thead>
    </tr>
    <tr>
      <tbody>
        <td>test</td>
        <td>tye</td>
        <td>dfg</td>
        <td>sdf</td>

      </tbody>
    </tr>
  </table>
<br><br>
<br><br>

referal program:<br>
referals: {{.Refers}}

</div>

<div class="posts">
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
</div>

</body>
</html>



{{range .Email}}
  {{.}}
{{end}}
{{range .Pass}}
  {{.}}
{{end}}
{{range .Refers}}
  {{.}}
{{end}}
{{range .Credits}}
    {{.}}
{{end}}
{{range .Wins}}
    {{.}}
{{end}}
{{range .Losses}}
    {{.}}
{{end}}
{{range .Heat}}
    {{.}}
{{end}}
{{range .Tournament}}
    {{.}}
{{end}}
{{range .Gametype}}
    {{.}}
{{end}}
{{range .Gamertag}}
    {{.}}
{{end}}
{{range .Roundnum}}
    {{.}}
{{end}}
