<!doctype html>
<html>
<head>
<!-- <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width,initial-scale=1"> -->

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">




<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

   <script type="text/javascript">
    $(document).ready(function(){
      $('#sortable').dataTable();
    })
  </script>

</head>

<header>
<div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="https://www.instagram.com/rapidfire.gg" class="buttons" target="_blank"> Instagram </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons" target="_blank"> donate </a>
      <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons" target="_blank"> email Us </a>
      <a href="https://www.facebook.com/RapidFireSupport/" class="buttons" target="_blank"> Support </a>
      <a href="/profile" class="buttons"> my profile </a>
      <a href="/logout" class="buttons"> logout </a>
</div>
</header>

<body>

<div class="posts">
<br><br><br>

  hello &emsp;{{.Email}}!<br><br><br><br>
  firecredits: <font size="20">{{.Credits}}</font><br><br><br><br>
    <u>personal Stats</u><br><br>
    wins:&emsp;{{.Cwins}}<br><br>
    losses:&emsp;{{.Losses}}<br><br>
    heat:&emsp;{{.Heat}}<br><br>
    grade:&emsp;{{.Grade}}<br><br>
    referrals:&emsp;{{.Refers}}<br><br>


<br><br><br>

here is your exclusive tournamental registration link<br><br>
<a href="/tsignup"><div class="treglink">tournament registration</div></a>
<br><br>
<font size=20><u>Upcoming Tournaments</u></font><br><br><br><br>


  <table id="sortable">
    <thead>
      <tr>
        <th>tournament</th>
        <th>type</th>
        <th>gamertag</th>
        <th>round number</th>
        <th>start time</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td class=buttons><a href="/{{.Tournament}}">{{.Tournament}}</a></td>
        <td>{{.Gametype}}</td>
        <td>{{.Gamertag}}</td>
        <td>{{.Roundnum}}</td>
        <td>{{.Starttime}}</td>
      </tr>

    </tbody>

  </table>
<br><br>
<br><br>

<br><br>


</div>

<div class="posts">
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
</div> -->

</body>
</html>



{{range .}}
{{end}}
