<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>

<div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="https://www.instagram.com/rapidfire.gg" class="buttons" target="_blank"> Instagram </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons" target="_blank"> donate </a>
      <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons" target="_blank"> email Us </a>
      <a href="https://www.facebook.com/RapidFireSupport/" class="buttons" target="_blank"> Support </a>
</div>


<body>

<div class="posts">
  <br><br><br><br>
  <font size="30">sign up</font><br><br><br><br>
  to become a member...<br>
  please Like us on social media and verify your email

  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FRapidfireSupport&width=450&layout=standard&action=like&size=large&show_faces=false&share=true&height=10&appId=196067333799979" width="450" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="false"></iframe>
  <a class="borderbuttons" href="https://www.instagram.com/accounts/login/?next=%2Frapidfire.gg%2F&source=follow">like us on instagram</a>
  already have a username?<br>
  <a style="border:5px solid black;" href="/login"> Login Here</a><br><br>

</div>

<div class="posts">
  <form action="/waitingregister" method="POST">
    epic username:<br>
    <input type="epicusername" name="epicusername" value=""><br><br>
    <a href="https://www.epicgames.com/account/personal" style="border:2px solid orange;">don't have an epic account? you will need one for tournaments. click here to get one.</a><br><br><br>
    <br>
    gamertag:<br>
    <input type="gamertag" name="gamertag" value=""><br><br>
    <br>
    email:<br>
    <input type="email" name="email" value="" required><br><br>
    <div class="checked" required>
    Confirm same as paypal email:<input type="checkbox" name="paypal" value=true checked>
    </div>
    <br>
    password:<br>
    <input type="password" name="pass" value="" required><br>
    <br><br>
    <input type="submit" style="color: black; background-color:white; font-family: 'MyWebFont', Fallback, sans-serif;" value="Sign Up">
  </form>

</div>

<div class="posts">
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
</div>

</body>
</html>
