<html>

<body>

You are about enter a Tournament<br>

Once you click submit, please wait 30minutes to be rerouted to the Tournament Results page<br>

DO NOT Close this page or your results will be lost and your entry fee lost<br><br><br><br><br>

<form name="tlaunch" action="/tlaunch" method="POST">
Confirm TeamName <input type="text" name="teamname" value="" required>
Confirm Tournament <input type="text" name="tournamentname" value="freeweekly2">
<input type="submit" value="Submit">
</form>


</body>

</html>
