<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">


<html>

<div class="banner">
  <div class="layer">
    <div class="button">
      <a href="/" class="buttons"> Home </a>
      <a href="https://www.instagram.com/rapidfire.gg" class="buttons"> Instagram </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons"> Donate </a>
      <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons"> Email Us </a>
      <a href="https://www.facebook.com/RapidFireSupport/" class="buttons"> Support </a>
    </div>
  </div>
</div>

<body>




<div class="posts">
  <br><br><br><br><br>

  welcome to the rapidfire.gg community<br>
  please hang on to your Verification Code for Toornament entry: XXXXX
  <br><br><br><br><br>
  Click to Signup
  <iframe width="500" height="88" src="https://widget.toornament.com/tournaments/1184146350756929536/registration?_locale=en_GB&theme=light" frameborder="0" allowfullscreen>Click to Signup</iframe>
</div>


<div class="posts">
  <br><br><br><br><br><br>
  <iframe width="640" height="360" src="https://widget.toornament.com/tournaments/1184146350756929536/navigator?_locale=en_US&theme=light" frameborder="0" allowfullscreen="true"></iframe>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
</div>

</body>
</html>
