<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">


<html>
<body>




<div class="posts">
  <br><br>
  Welcome to the Rapidfire.GG Community<br>
  Please hang on to your Verification Code for Toornament Entry: XXXXX
  <br><br><br><br>
  Click to Signup
  <iframe width="500" height="88" src="https://widget.toornament.com/tournaments/1184146350756929536/registration?_locale=en_GB&theme=light" frameborder="0" allowfullscreen>Click to Signup</iframe>
</div>


<div class="posts">
  <br><br>
  <iframe width="640" height="360" src="https://widget.toornament.com/tournaments/1184146350756929536/navigator?_locale=en_US&theme=light" frameborder="0" allowfullscreen="true"></iframe>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
</div>

</body>
</html>
