<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>
<div class="layer">

<div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="https://www.instagram.com/rapidfire.gg" class="buttons" target="_blank"> Instagram </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons" target="_blank"> donate </a>
      <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons" target="_blank"> email Us </a>
      <a href="https://www.facebook.com/RapidFireSupport/" class="buttons" target="_blank"> Support </a>
      <a href="/profile" class="buttons"> my profile </a>
</div>


<body>

<div class="posts">
  <br><br><br><br><br>

  welcome to the rapidfire.gg community<br><br><br>
  <!-- <iframe width="500" height="88" src="https://widget.toornament.com/tournaments/1184146350756929536/registration?_locale=en_GB&theme=light" frameborder="0" allowfullscreen>Click to Signup</iframe> -->

</div>



<div class="posts">

  <br><br>
  <font size=20>xbox one fortnite free weekly - tournament entry</font><br><br>
  <form action="/tsignup" method="POST">
    <input type="hidden" name="tournament" value="freeweekly1" disabled="disabled" required><br><br>
    start time<br>
    <input type="text" name="starttime" value="March 25th 8pm EST" disabled="disabled" required><br><br>
    epic username confirmation<br>
    <input type="text" name="epicusername" value="{{.Epicusername}}" required><br><br>
    <a href="https://www.epicgames.com/account/personal">don't have an epic account? you must to play tourneys. click here to get one.</a><br><br><br>
    team name [must be exact]<br>
    <input type="text" name="teamname" value="" required><br><br>
    gamertag<br>
    <input type="text" name="gamertag" value="" required><br><br>
    gametype:<br>
    <select class="gametypedropdown" name="gametype">
      <option value="squad">squad</option>
      <option value="duo">duo</option>
      <option value="solo">solo</option>
      <option value="any">any</option>
    </select>
    <br><br>
    <input type="submit" style="color: black; background-color:white; font-family: 'MyWebFont', Fallback, sans-serif;" value="register">
  </form>



<br><br><br><br><br><br><br>

<br><br>
<font size=20>xbox one fortnite april fools free weekly - tournament entry</font><br><br>
<form action="/tsignup" method="POST">
  <input type="hidden" name="tournament" value="aprilfoolsweekly" disabled="disabled" required><br><br>
  start time<br>
  <input type="text" name="starttime" value="April 1st 8pm EST" disabled="disabled" required><br><br>
  epic username confirmation<br>
  <input type="text" name="epicusername" value="{{.Epicusername}}" required><br><br>
  <a href="https://www.epicgames.com/account/personal">don't have an epic account? you must to play tourneys. click here to get one.</a><br><br><br>
  team name [must be exact]<br>
  <input type="text" name="teamname" value="" required><br><br>
  gamertag<br>
  <input type="text" name="gamertag" value="" required><br><br>
  gametype:<br>
  <select class="gametypedropdown" name="gametype">
    <option value="squad">squad</option>
    <option value="duo">duo</option>
    <option value="solo">solo</option>
    <option value="any">any</option>
  </select>
  <br><br>
  <input type="submit" style="color: black; background-color:white; font-family: 'MyWebFont', Fallback, sans-serif;" value="register">
</form>

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>

<font size=20>xbox one fortnite april checkin - tournament entry</font><br><br>
<form action="/tsignup" method="POST">
  <input type="hidden" name="tournament" value="aprilcheckin" disabled="disabled" required><br><br>
  start time<br>
  <input type="text" name="starttime" value="april 25th 8pm est" disabled="disabled" required><br><br>
  epic username confirmation<br>
  <input type="text" name="epicusername" value="{{.Epicusername}}" required><br><br>
  <a href="https://www.epicgames.com/account/personal">don't have an epic account? you must to play tourneys. click here to get one.</a><br><br><br>
  team name [must be exact]<br>
  <input type="text" name="teamname" value="" required><br><br>
  gamertag<br>
  <input type="text" name="gamertag" value="" required><br><br>
  gametype:<br>
  <select class="gametypedropdown" name="gametype">
    <option value="squad">squad</option>
    <option value="duo">duo</option>
    <option value="solo">solo</option>
    <option value="any">any</option>
  </select>
  <br><br>
  <input type="submit" style="color: black; background-color:white; font-family: 'MyWebFont', Fallback, sans-serif;" value="register">
</form>

</div>

</body>

</div>
</html>
<!--
{{range .Epicusername}}
    {{.}}
{{end}} -->
