<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">


<html>
<body>


<div class="posts">
  <br><br><br>
  Before You Enter the Tournament<br>
  Please Like us on Social Media and Verify You Are Human by Becoming a Member<br>
  <br><br><br><br>
<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebooks.com%2FRapidfireSupport&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=196067333799979" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>

<div class="posts">
  <form action="tregistration.gohtml">

    |Email:<br>
    <input style="color: black;" type="text" name="email" value="" required pattern="@."><br>
    |Password:<br>
    <input type="text" style="color: black;" name="pass" value="" required><br>


    <br>
    <input type="submit" style="color: black; background-color:white;"
    value="Submit" href="tregistration.gohtml">
  </form>

</div>

<div class="posts">
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
</div>

</body>
</html>
