<!doctype html>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<html>

<div class="banner">
      <a href="/" class="buttons"> Home </a>
      <a href="https://www.instagram.com/rapidfire.gg" class="buttons" target="_blank"> Instagram </a>
      <a href="https://www.paypal.me/embulldogs99" class="buttons" target="_blank"> donate </a>
      <a href="mailto:OfficialRapidFire.gg@gmail.com" class="buttons" target="_blank"> email Us </a>
      <a href="https://www.facebook.com/RapidFireSupport/" class="buttons" target="_blank"> Support </a>
</div>


<body>

<div class="verify">
  <br><br><br><br><br><br>
please ensure you like us on facebook and follow us Instagram and Twitter to Confirm your membership<br>
<br><br><br>
  <div class="socialmedia">
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FRapidfireSupport&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=196067333799979" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              <a href="https://www.instagram.com/accounts/login/?next=%2Frapidfire.gg%2F&source=follow"><img src=pics/instagram.jpg/> Instagram</a>
              <a href="http://www.twitter.com">  <svg xmlns="http://www.w3.org/2000/svg"
         width="1.38889in" height="1.38889in"
         viewBox="0 0 100 100">
      <path id="Selection #1"
            fill="none" stroke="black" stroke-width="1"
            d="M 69.00,12.19
               C 75.47,12.92 78.27,16.53 81.29,16.71
                 83.75,16.86 89.53,14.05 92.00,13.00
                 92.00,13.00 88.00,22.00 88.00,22.00
                 88.00,22.00 94.00,21.00 94.00,21.00
                 91.12,27.09 88.01,28.03 86.02,32.00
                 84.64,34.77 85.15,38.00 84.83,41.00
                 84.41,44.92 82.69,50.37 81.13,54.00
                 74.51,69.43 60.89,81.27 44.00,83.85
                 44.00,83.85 29.00,83.85 29.00,83.85
                 21.81,83.91 9.84,81.60 6.00,75.00
                 15.22,76.45 22.29,73.96 30.00,69.00
                 22.00,66.20 17.53,63.56 15.00,55.00
                 15.00,55.00 21.00,55.00 21.00,55.00
                 12.53,52.11 9.42,45.47 9.00,37.00
                 9.00,37.00 15.00,39.00 15.00,39.00
                 8.34,30.78 7.15,24.53 12.00,15.00
                 25.40,25.71 30.28,32.47 49.00,34.00
                 46.55,21.59 56.33,10.76 69.00,12.19 Z
               M 87.00,22.00
               C 87.00,22.00 88.00,23.00 88.00,23.00
                 88.00,23.00 88.00,22.00 88.00,22.00
                 88.00,22.00 87.00,22.00 87.00,22.00 Z" />
                  </svg>Twitter</a>
  </div>
<br><br><br><br><br><br><br><br><br><br><br>
We will send you an e-mail containing your exclusive tournament registration link once you have been confirmed<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
</html>
